.post {
  // height: 200px;
  // border: 1px solid black;
  margin-bottom: 2rem;
  &--width {
    max-width: 600px;
    margin: 0 auto;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--block {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
  &-body {
    // margin-bottom: 1rem;
  }
  &-img {
    width: 100%;
    height: auto;
  }
  &-footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
